.project{
    background-color: darkgray;
    height: 100vh;
    width: 70%;
    justify-content: center;
    align-items: center;
    }

.project p{
    text-align: center;
    font-weight: bold;
}

.project .map{
    justify-content: center;
    margin: auto;
    align-items: center;
    height: 75vh;
    width:50% ;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}


.ran-btn{
    background-color:rgb(9, 242, 242);
    color: white;
    border:none;
    border-radius: 10px;
    width: 25vh;
    height: 10vh;
    margin-right: 50px;
   
    
        
}
.ran-btn:hover{
    background-color:rgb(4, 109, 109); 
}
.home-btn{
    background-color: blueviolet;
    color: white;
    border:none;
    border-radius: 10px;
    width: 25vh;
    height: 10vh;
    
    
}
.home-btn:hover{
    background-color: rgb(66, 6, 123);
}

.position p{
    color: white;
}